<Configuration status="info" packages="com.logtoelastic.sandbox,com.logtoelastic.library.logging">
    <Properties>
        <Property name="logPattern">[%d{yyyy-MM-dd HH:mm:ss.SSS}] [%X{correlationId}] [%t] %-5level %logger{36} -
            %msg%n
        </Property>
    </Properties>
    <Appenders>
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="${logPattern}"/>
        </Console>
        <RollingFile name="RollingFile" fileName="logs/app.log"
                     filePattern="logs/$${date:yyyy-MM}/app-%d{MM-dd-yyyy}-%i.log.gz">
            <PatternLayout>
                <Pattern>${logPattern}</Pattern>
            </PatternLayout>
            <Policies>
                <TimeBasedTriggeringPolicy/>
                <SizeBasedTriggeringPolicy size="1 MB"/>
            </Policies>
        </RollingFile>

        <RollingFile name="RollingFileJson" fileName="logs/app-alt.json"
                     filePattern="logs/$${date:yyyy-MM}/app-%d{MM-dd-yyyy}-%i.log.gz">

            <JsonLayout complete="true">
                <KeyValuePair key="additionalField1" value="constant value"/>
                <KeyValuePair key="correlationId" value="$${ctx:correlationId}"/>
            </JsonLayout>

            <Policies>
                <TimeBasedTriggeringPolicy/>
                <SizeBasedTriggeringPolicy size="1 MB"/>
            </Policies>
        </RollingFile>

        <ElasticAppender name="ElasticAppender" host="localhost" port="9200"/>

        <Async name="Async">
            <AppenderRef ref="ElasticAppender"/>
        </Async>

    </Appenders>
    <Loggers>
        <Root level="trace">
            <AppenderRef ref="Console"/>
            <AppenderRef ref="RollingFile"/>
            <AppenderRef ref="RollingFileJson"/>
            <AppenderRef ref="Async"/>
        </Root>
    </Loggers>
</Configuration>
